:root {
  --color-primary: #0c890a;
  --color-primary-focus: #0ca100;
  --color-primary-negative: #113c0f;
  --color-secondary: #D5D5D5;
  --color-secondary-focus: #FFFFFF;
  --color-secondary-negative: #EDEDED;

  --color-grey-0: #0A0C0E;
  --color-grey-1: #212529;
  --color-grey-2: #495057;
  --color-grey-3: #868E96;
  --color-grey-4: #ADB5BD;
  --color-grey-5: #CED4DA;
  --color-grey-6: #DEE2E6;
  --color-grey-7: #E9ECEF;
  --color-grey-8: #F1F3F5;
  --color-grey-9: #F8F9FA;
  --color-grey-10: #FDFDFD;

  --font-title: 'Staatliches', cursive;
  --font-text: 'Nunito', sans-serif;
}