:root {
  --verde: #0c890a;
  --verde-focus: #0ca100;
  --verde-escuro: #113c0f;
  --branco: hsl(0, 0%, 84%);
  --branco-focus: #ffffff;
  --branco-escuro: #ededed;

  --azul-fundo-claro: #21555c;
  --azul-fundo-escuro: #02181c;

  --font-title: "Staatliches", cursive;
  --font-text: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw !important;
  min-height: 100vh !important;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    var(--azul-fundo-escuro),
    var(--azul-fundo-claro)
  );
  color: var(--branco);
  font-family: var(--font-text);
}

.home-games-list {
  margin: 5rem;
}

.home-games-list ul {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
}

.home-games-list li {
  list-style: none;
  padding: 1.5rem;
  margin: 2rem 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 0.5rem;
  background-color: var(--verde);
  color: var(--branco);
}

.home-games-list li:hover {
  background-color: var(--verde-focus);
}

.home-games-list li a {
  text-decoration: none;
  color: var(--branco);
}

.home-games-list li a:hover {
  color: var(--branco-focus);
}

.home-games-list h1,
.home-games-list h2,
.home-games-list h3,
.home-games-list p {
  font-family: var(--font-title);
  color: var(--branco);
}

footer {
  color: var(--branco);

  font-size: 8rem;
  text-align: center;
  padding: 1rem 0;
}

footer a {
  color: var(--branco);
  text-decoration: none;
  font-size: 0.8rem;
}
